.player0 {
    background-color: aqua;
}

.player1 {
    background-color: #ff7e7e;
}

.player2 {
    background-color: #99ff5e;
}

.player3 {
    background-color: #9c7eff;
}

.player4 {
    background-color: #ff5ec4;
}

.player5 {
    background-color: #ffb574;
}
.player6 {
    background-color: #ecff5e;
}

.player7 {
    background-color: #7effbc;
}

.neutralTown {
    background-color: #ababab;
}

.mountain {
    background-color: #757575;
}

.space {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
}
